body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
    display: inline-block;
    width: 3.3em;
    height: 4.6em;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 1.2em; /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
}

.card .rank,
.card .suit {
    display: block;
    line-height: 1;
    text-align: left;
}
.card .suit {
    line-height: .7;
}

.card.down {
    text-indent: -4000px;
    background-color: #063e9e;
    background-repeat: repeat;
}

.card.diamonds {
    color: #f00;
}
.card.hearts {
    color: #f00;
}
.card.spades {
    color: #000;
}
.card.clubs {
    color: #000;
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
